@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MapTiler custom styles */
.maplibregl-popup-content {
  padding: 0 !important;
  border-radius: 8px;
}

.custom-marker {
  transition: transform 0.2s;
}

.custom-marker:hover {
  transform: scale(1.2);
}
.mapbox-gl-draw_ctrl-draw-btn,
.mapbox-gl-draw_ctrl-trash {
  display: none !important;
}